name: Release the app

on:
  push:
    tags:
    - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    environment: Development
    env:
      ACRA_LOGIN: ${{ secrets.ACRARIUM_BASIC_AUTH_LOGIN }}
      ACRA_PASS: ${{ secrets.ACRARIUM_BASIC_AUTH_PASSWORD }}
      ACRA_URI: ${{ secrets.ACRARIUM_URI }}
      BRANCH_NAME: ${{ github.ref_name }}
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Validate Gradle wrapper
      uses: gradle/actions/wrapper-validation@v3

    - name: Build Release APK
      run: ./gradlew assembleRelease

    - name: Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "./app/build/outputs/apk/release/*.apk"
        token: ${{ secrets.GITHUB_TOKEN }}
